* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
}
/* Image */
.image{
    height: 150px;
    width: 150px;
}
/* Boutton remove */
.remove{
    height: 15px;
    width: auto;
    cursor: pointer;
}
/* Panier */
.articles li{
    list-style: none;
}

.myarticle {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 30px;
    align-items: center;
}

#panier {
    margin-bottom: 50px;
    width: 90%;
    margin-left: 0;
    float:left;
    width:80%;
}

/* Total */
#total h4 {
    font-weight: normal;
}
#total {
    margin-left:85%;
}
#total div {
    margin-left: 0;
    width: 350px;
    margin-bottom: 60px;

}

/* Panier / Total */
#panier h1,
#total h1,
#total h3 {
    font-weight: bold;
}
#montant{
    float:left;
    width:60%;
}
#montant span,
.total {
    margin-left:69%;
}
#montant h4 {
    font-size: 22px;
    margin-top: 45px;
}
#montant span{
    font-size: 22px;
}
#prix_total{
    font-size: 22px;
}
/* Boutton valider commande */
.next {
    background-color: #67795e;
    color: white;
    border: none;
    height: 55px;
    cursor: pointer;
    width: 350px;
    margin-left: 0;
}

/* Btn retour */
.continue {
    background-color: #cddbc6;
    border: none;
    height: 35px;
    width: 180px;
}
.continue a{
    color: #67795e;
    text-decoration: none;
}


/*Formulaire */
.prev,
.next2 {
    height: 55px;
    cursor: pointer;
    width:217px;
}
.prev{
    background-color: white;
    border: solid 1px #67795e;
    color: #67795e;
}
.next2 {
    background-color: #67795e;
    color: white;
}
